/* .hidden{
    opacity: 0; 
}
.myclass{
    display: block;
    width: 150px;
    border: 12px;
    border-radius: 2px;
    background-color: blue;
    height: 100px;
}

#myDiv{
    background-color: red;
    width: 150px;
    border: 12px;
    height: 50vh;
} */



/* >secret number
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.box{
    width: 500px;
    padding-top: 250px;
}
.number{
    background-color:lightblue;
    padding-left: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
} */




